<!-- Hereda de base .html -->
{% extends './body.html' %}

{% block title %} 
    Inicio de sesión 
{% endblock %}

{% block customCSS %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block body %} 
    <form class="form-signin w-100 m-auto" action="/login" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" id="">
        <br>
        <img class="mb-4" src="{{url_for ('static', filename='img/libro.png')}}" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal text-center">Inicio de sesión</h1>
    
        <div class="form-floating">
          <input type="text" class="form-control" id="usuario" name="usuario" placeholder="usuario" minlength="6" maxlength="20" required autofocus>
          <label for="floatingInput">Usuario</label>
        </div>

        <br>

        <div class="form-floating">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" minlength="6">
          <label for="floatingPassword">Password</label>
        </div>
    
        <br>
        <button class="btn btn-outline-success w-100 py-2" type="submit">Iniciar sesión</button>

        <br>
        <p class="mt-5 mb-3 text-body-secondary">&copy; Cecilia Perdomo - 2023</p>
      </form>

      {% block customJS %} 
      <script src="{{ url_for('static', filename='js/login.js')}}"></script>
      {% endblock %}
{% endblock %}